header {
  background: #743dab;
  box-shadow: 0px 3px 4px #907ba54d;
  padding: 2em 0;
  text-align: center;
  width: 100%;

  h2 {
    color: #fff;
    font-weight: 600;
    margin: 0;
  }
}

.container {
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  max-width: 540px;
  width: 100%;
}