.container {
  text-align: center;

  h1 {
    font-size: 7em;
  }
  .animated {
    animation: blink-animation .7s steps(5, start) infinite;
    -webkit-animation: blink-animation .7s steps(5, start) infinite;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}